Repository softeerbootcamp/Team6-Oil-Pocket, pull requests merged in 2023-02, with the labels that each got.

#41 feature/#40_cors_setting->dev: cors에러 수정
  backend/src/main/java/com/kaspi/backend/util/config/WebConfig.java
Labels: backend

#45 dev->main:cors에러 및 쿠키 설정을 위한 allowCredentials값 true 설정
  backend/src/main/java/com/kaspi/backend/util/config/WebConfig.java
Labels: backend, deploy

#53 [hotfix]local:dev->dev: origins cors 프론트 로컬로 변경
  backend/src/main/java/com/kaspi/backend/util/config/WebConfig.java
  backend/src/main/java/com/kaspi/backend/util/filter/FilterConfig.java
Labels: backend

#54 [Deploy]Dev->main: cors 에러 수정
  backend/src/main/java/com/kaspi/backend/util/config/WebConfig.java
  backend/src/main/java/com/kaspi/backend/util/filter/FilterConfig.java
  frontEnd/Fe-Jaewon/css-files/style.css
  frontEnd/Fe-Jaewon/css-files/style.css.map
  frontEnd/Fe-Jaewon/css-files/style.scss
  frontEnd/Fe-Jaewon/main.html
  frontEnd/Fe-Jaewon/package-lock.json
  frontEnd/Fe-Jaewon/package.json
  frontEnd/Fe-Jaewon/template.js
  frontEnd/Fe-Jaewon/test.js
  frontEnd/index.html
  frontEnd/package.json
  frontEnd/public/img/GasStation_Image/E1.png
  frontEnd/public/img/GasStation_Image/GS.png
  frontEnd/public/img/GasStation_Image/Group 22.png
  frontEnd/public/img/GasStation_Image/Group 25.png
  frontEnd/public/img/GasStation_Image/S-OIL.png
  frontEnd/public/img/GasStation_Image/SK.png
  frontEnd/public/img/GasStation_Image/ex.png
  frontEnd/public/img/GasStation_Image/hyundai.png
  frontEnd/public/img/GasStation_Image/nh.png
  frontEnd/public/img/GasStation_Image/알뜰.png
  frontEnd/public/img/🦆 icon _chevron left_.svg
  frontEnd/public/img/🦆 icon _chevron right_.svg
  frontEnd/public/img/🦆 icon _pin outline_.svg
  frontEnd/public/img/🦆 icon _search outline_.svg
  frontEnd/public/js/main/template.js
  frontEnd/public/js/mapView/template.js
  frontEnd/public/js/mapView/view.js
  frontEnd/public/js/router.js
  frontEnd/public/styles/index.css
  frontEnd/public/styles/index.css.map
  frontEnd/public/styles/index.scss
Labels: backend, deploy

#55 [HotFix] dev->main: cors 에러 수정
  backend/src/main/java/com/kaspi/backend/util/config/WebConfig.java
Labels: backend, deploy

#56 [Hotfix] dev->main: 프론트 cors localhost에서 127.0.0.1로 변경
  backend/src/main/java/com/kaspi/backend/util/config/WebConfig.java
Labels: backend, deploy

#57 [Hotfix] local dev-> dev
  backend/src/main/java/com/kaspi/backend/util/cookie/CookieSerialize.java
Labels: backend

#58 [Hotfix] dev-> main :samesite option 변경
  backend/src/main/java/com/kaspi/backend/util/cookie/CookieSerialize.java
Labels: backend, deploy

#93 Feature/#40 cors setting -> dev: Cors설정 및 쿠키 설정
  backend/src/main/java/com/kaspi/backend/controller/AuthController.java
  backend/src/main/java/com/kaspi/backend/controller/TestController.java
  backend/src/main/java/com/kaspi/backend/util/config/WebConfig.java
  backend/src/main/java/com/kaspi/backend/util/cookie/CookieSerialize.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/keystore.p12
  backend/src/main/resources/static/index.html
  readme.md
Labels: backend

#99 Feature/92 회원가입 연결
  backend/Dockerfile
  backend/src/main/java/com/kaspi/backend/controller/AuthController.java
  backend/src/main/java/com/kaspi/backend/domain/GasDetail.java
  backend/src/main/java/com/kaspi/backend/enums/GasType.java
  backend/src/main/java/com/kaspi/backend/util/DataDownloadScheduler.java
  backend/src/main/resources/application.yml
  backend/src/test/java/com/kaspi/backend/domain/GasDetailTest.java
  frontEnd/node_modules/.package-lock.json
  frontEnd/package-lock.json
  frontEnd/public/.DS_Store
  frontEnd/public/img/myProfile_Image/chicken.png
  frontEnd/public/img/myProfile_Image/coffee.png
  frontEnd/public/img/myProfile_Image/coin.png
  frontEnd/public/img/myProfile_Image/hamburger.png
  frontEnd/public/img/myProfile_Image/rice.png
  frontEnd/public/js/common/function.js
  frontEnd/public/js/common/variable.js
  frontEnd/public/js/login/template.js
  frontEnd/public/js/main/event.js
  frontEnd/public/js/main/helperFunction.js
  frontEnd/public/js/main/template.js
  frontEnd/public/js/main/view.js
  frontEnd/public/js/myPage/comparison/template.js
  frontEnd/public/js/register/event.js
  frontEnd/public/js/register/fetch.js
  frontEnd/public/js/register/helperFunction.js
  frontEnd/public/js/register/template.js
  frontEnd/public/js/register/view.js
  frontEnd/public/js/router.js
  frontEnd/public/styles/index.css
  frontEnd/public/styles/index.css.map
  frontEnd/public/styles/index.scss
  readme.md
Labels: front

#107 Feature/#80 auth fix-> dev: 테스트코드 리팩토링 및 로그인 로직 리팩토링
  backend/build.gradle
  backend/src/main/java/com/kaspi/backend/controller/AuthController.java
  backend/src/main/java/com/kaspi/backend/dao/UserDao.java
  backend/src/main/java/com/kaspi/backend/domain/User.java
  backend/src/main/java/com/kaspi/backend/service/AuthService.java
  backend/src/main/java/com/kaspi/backend/service/HttpSessionService.java
  backend/src/main/java/com/kaspi/backend/service/UserService.java
  backend/src/main/java/com/kaspi/backend/util/DataDownloadScheduler.java
  backend/src/main/java/com/kaspi/backend/util/aspect/LoggingAspect.java
  backend/src/main/resources/application.yml
  backend/src/test/java/com/kaspi/backend/BackendApplicationTests.java
  backend/src/test/java/com/kaspi/backend/RedisConnectionTest.java
  backend/src/test/java/com/kaspi/backend/controller/AuthControllerTest.java
  backend/src/test/java/com/kaspi/backend/controller/UserControllerTest.java
  backend/src/test/java/com/kaspi/backend/dao/GasDetailDaoTest.java
  backend/src/test/java/com/kaspi/backend/dao/GasStationDaoTest.java
  backend/src/test/java/com/kaspi/backend/dao/GasStationDataDaoTest.java
  backend/src/test/java/com/kaspi/backend/dao/UserDaoTest.java
  backend/src/test/java/com/kaspi/backend/domain/UserTest.java
  backend/src/test/java/com/kaspi/backend/service/GasDataServiceTest.java
  backend/src/test/java/com/kaspi/backend/util/config/RedisTestConfig.java
  backend/src/test/java/com/kaspi/backend/util/config/TestRedisConfiguration.java
  backend/src/test/resources/application.yml
  backend/src/test/resources/data.sql
Labels: backend

#116 Feature/#110 user gas record->dev:주유소 이름 기반 검색 api, 주유기록 입력 API
  backend/build.gradle
  backend/gradlew
  backend/src/main/java/com/kaspi/backend/controller/GasStationController.java
  backend/src/main/java/com/kaspi/backend/controller/UserGasRecordController.java
  backend/src/main/java/com/kaspi/backend/dao/GasDetailDao.java
  backend/src/main/java/com/kaspi/backend/dao/GasStationDao.java
  backend/src/main/java/com/kaspi/backend/dao/RedisGasStationDao.java
  backend/src/main/java/com/kaspi/backend/dao/UserGasRecordDao.java
  backend/src/main/java/com/kaspi/backend/domain/GasDetail.java
  backend/src/main/java/com/kaspi/backend/domain/GasStation.java
  backend/src/main/java/com/kaspi/backend/domain/RedisGasStation.java
  backend/src/main/java/com/kaspi/backend/domain/UserGasRecord.java
  backend/src/main/java/com/kaspi/backend/dto/FindGasStationResDto.java
  backend/src/main/java/com/kaspi/backend/dto/UserGasRecordReqDto.java
  backend/src/main/java/com/kaspi/backend/enums/GasType.java
  backend/src/main/java/com/kaspi/backend/service/GasStationService.java
  backend/src/main/java/com/kaspi/backend/service/OpinetService.java
  backend/src/main/java/com/kaspi/backend/service/UserRecordService.java
  backend/src/main/java/com/kaspi/backend/util/exception/OpinetException.java
  backend/src/main/java/com/kaspi/backend/util/opinet/OpinentParser.java
  backend/src/main/java/com/kaspi/backend/util/opinet/OpinetRequest.java
  backend/src/main/java/com/kaspi/backend/util/response/code/DefaultCode.java
  backend/src/main/java/com/kaspi/backend/util/response/code/ErrorCode.java
  backend/src/main/resources/application.yml
  backend/src/test/java/com/kaspi/backend/controller/GasStationControllerTest.java
  backend/src/test/java/com/kaspi/backend/controller/UserGasRecordControllerTest.java
  backend/src/test/java/com/kaspi/backend/dao/GasStationDaoTest.java
  backend/src/test/java/com/kaspi/backend/dao/GasStationDataDaoTest.java
  backend/src/test/java/com/kaspi/backend/enums/GasTypeTest.java
  backend/src/test/java/com/kaspi/backend/service/GasStationServiceTest.java
  backend/src/test/java/com/kaspi/backend/service/OpinetServiceTest.java
  backend/src/test/java/com/kaspi/backend/service/UserRecordServiceTest.java
  backend/src/test/java/com/kaspi/backend/util/config/TestRedisConfiguration.java
  backend/src/test/java/com/kaspi/backend/util/opinet/OpinentParserTest.java
  backend/src/test/java/com/kaspi/backend/util/opinet/OpinetRequestTest.java
  backend/src/test/java/com/kaspi/backend/util/redis/GasStationSaveToRedis.java
  backend/src/test/resources/application.yml
  backend/src/test/resources/data.sql
Labels: backend

#127 Feature/126 gas station 1 month -> dev: 주유소 1달정보를 반환하는 api 구현
  backend/src/main/java/com/kaspi/backend/controller/GasStationController.java
  backend/src/main/java/com/kaspi/backend/dao/GasDetailDao.java
  backend/src/main/java/com/kaspi/backend/service/GasDataService.java
  backend/src/main/java/com/kaspi/backend/service/GasDetailService.java
  backend/src/main/java/com/kaspi/backend/service/GasStationService.java
  backend/src/test/java/com/kaspi/backend/dao/GasDetailDaoTest.java
  backend/src/test/java/com/kaspi/backend/service/GasDetailServiceTest.java
  backend/src/test/resources/data.sql
Labels: backend

#146 Feature/129 user eco price
  backend/src/main/java/com/kaspi/backend/BackendApplication.java
  backend/src/main/java/com/kaspi/backend/controller/GasStationController.java
  backend/src/main/java/com/kaspi/backend/controller/TestController.java
  backend/src/main/java/com/kaspi/backend/controller/UserGasRecordController.java
  backend/src/main/java/com/kaspi/backend/dao/FoodImageDao.java
  backend/src/main/java/com/kaspi/backend/dao/UserDao.java
  backend/src/main/java/com/kaspi/backend/dao/UserGasRecordDao.java
  backend/src/main/java/com/kaspi/backend/domain/EcoRecord.java
  backend/src/main/java/com/kaspi/backend/domain/FoodImage.java
  backend/src/main/java/com/kaspi/backend/dto/UserEcoRecordResDto.java
  backend/src/main/java/com/kaspi/backend/service/UserRecordService.java
  backend/src/main/java/com/kaspi/backend/util/response/code/DefaultCode.java
  backend/src/main/java/com/kaspi/backend/util/response/code/ErrorCode.java
  backend/src/test/java/com/kaspi/backend/controller/GasStationControllerTest.java
  backend/src/test/java/com/kaspi/backend/controller/UserGasRecordControllerTest.java
  backend/src/test/java/com/kaspi/backend/dao/FoodImageDaoTest.java
  backend/src/test/java/com/kaspi/backend/dao/UserDaoTest.java
  backend/src/test/java/com/kaspi/backend/dao/UserGasRecordDaoTest.java
  backend/src/test/java/com/kaspi/backend/service/UserRecordServiceTest.java
  backend/src/test/resources/data.sql
Labels: backend

#150 feature/149-gasStationDto-add-StationNo(GasStationDto) -> dev: stationNo 멤버변수 추가
  backend/src/main/java/com/kaspi/backend/domain/GasStationDto.java
Labels: backend

#160 Feature/#133 gas record view->dev: 주유기록 열람 API
  .github/workflows/dev-front.yml
  backend/src/main/java/com/kaspi/backend/controller/UserGasRecordController.java
  backend/src/main/java/com/kaspi/backend/dao/UserGasRecordDao.java
  backend/src/main/java/com/kaspi/backend/domain/UserGasRecord.java
  backend/src/main/java/com/kaspi/backend/dto/UserGasRecordResDto.java
  backend/src/main/java/com/kaspi/backend/enums/GasBrand.java
  backend/src/main/java/com/kaspi/backend/service/UserRecordService.java
  backend/src/main/java/com/kaspi/backend/util/config/WebConfig.java
  backend/src/main/java/com/kaspi/backend/util/response/code/DefaultCode.java
  backend/src/test/java/com/kaspi/backend/controller/UserGasRecordControllerTest.java
  backend/src/test/java/com/kaspi/backend/dao/UserGasRecordDaoTest.java
  backend/src/test/java/com/kaspi/backend/dto/UserGasRecordResDtoTest.java
  backend/src/test/java/com/kaspi/backend/enums/GasBrandTest.java
  backend/src/test/java/com/kaspi/backend/service/UserRecordServiceTest.java
Labels: backend

#161 feature/152 slack noti -> dev: 스케쥴러 슬랙 알림 모니터링 기능 추가
  util/build.gradle
  util/src/main/java/org/example/controller/ErrorController.java
  util/src/main/java/org/example/scheduler/DataDownloadScheduler.java
Labels: backend

#166 Feature/ user gas record fix -> dev: 주유기록 입력시 가스품종 예외처리
  backend/src/main/java/com/kaspi/backend/service/GasStationService.java
  backend/src/main/java/com/kaspi/backend/service/UserRecordService.java
  backend/src/test/java/com/kaspi/backend/service/GasStationServiceTest.java
  backend/src/test/java/com/kaspi/backend/service/UserRecordServiceTest.java
Labels: backend

#168 hotfix:dev(router.js):라우팅 문제 해결
  frontEnd/public/js/login/fetch.js
Labels: backend, front

#170 hofix:dev(router.js):이전 상태로 복구
  frontEnd/public/js/login/fetch.js
Labels: backend, front

#172 hotfix:dev(fetch):release, dev mode 구분하도록 설정
  frontEnd/public/js/common/function.js
  frontEnd/public/js/common/variable.js
  frontEnd/public/js/login/fetch.js
  frontEnd/public/js/myPage/comparison/fetch.js
  frontEnd/public/js/myPage/inputOilInfo/fetch.js
  frontEnd/public/js/register/fetch.js
Labels: backend, front

#174 hotfix:(frontEnd):로그인 체크 여부 임시 제외
  frontEnd/public/js/router.js
Labels: backend, front

#175 Feature/#167_gas record month->dev:사용자 월별 주유기록 api
  backend/src/main/java/com/kaspi/backend/controller/UserGasRecordController.java
  backend/src/main/java/com/kaspi/backend/dao/UserGasRecordDao.java
  backend/src/main/java/com/kaspi/backend/dto/UserGasRecordMonthResDto.java
  backend/src/main/java/com/kaspi/backend/service/UserRecordService.java
  backend/src/main/java/com/kaspi/backend/util/response/code/DefaultCode.java
  backend/src/test/java/com/kaspi/backend/controller/UserGasRecordControllerTest.java
  backend/src/test/java/com/kaspi/backend/dao/UserGasRecordDaoTest.java
  backend/src/test/java/com/kaspi/backend/service/UserRecordServiceTest.java
Labels: backend

#169 feature/158 fix(GasDataService) -> dev: 서버타임존 수정
  util/src/main/java/org/example/service/gasdata/GasDataService.java
Labels: backend

#177 hotfix:router 로그인 수정
  frontEnd/public/js/login/fetch.js
  frontEnd/public/js/myPage/inputOilInfo/fetch.js
  frontEnd/public/js/router.js
Labels: front

#176 feature/171 csv modify -> dev: 오피넷 csv 파일 가공 메소드 추가 및 DB 데이터 삽입
  util/src/main/java/org/example/dao/GasStationDao.java
  util/src/main/java/org/example/domain/GasDetail.java
  util/src/main/java/org/example/domain/GasStation.java
  util/src/main/java/org/example/service/fileupload/FileUploadService.java
  util/src/test/java/org/example/dao/GasStationDaoTest.java
  util/src/test/java/org/example/service/FileUploadServiceTest.java
Labels: backend

#180 hotfix: 지도 페이지 To SPA
  frontEnd/SearchGasStation.js
  frontEnd/mapView.html
  frontEnd/public/img/GasStation_Image/SK.png
  frontEnd/public/js/main/template.js
  frontEnd/public/js/mapView/helperFunction.js
  frontEnd/public/js/mapView/jaewon.js
Labels: backend, front

#181 hotfix:마이페이지 템플릿 수정
  frontEnd/public/js/myPage/comparison/fetch.js
  frontEnd/public/js/myPage/comparison/template.js
  frontEnd/public/styles/index.css
  frontEnd/public/styles/index.css.map
  frontEnd/public/styles/index.scss
Labels: front

#183 Feature/#176 auth update-> dev:로그인/ 회원가입 추가 API
  backend/build.gradle
  backend/src/main/java/com/kaspi/backend/controller/AuthController.java
  backend/src/main/java/com/kaspi/backend/controller/UserController.java
  backend/src/main/java/com/kaspi/backend/domain/User.java
  backend/src/main/java/com/kaspi/backend/dto/UserUpdateReqDto.java
  backend/src/main/java/com/kaspi/backend/service/AuthService.java
  backend/src/main/java/com/kaspi/backend/service/HttpSessionService.java
  backend/src/main/java/com/kaspi/backend/service/UserRecordService.java
  backend/src/main/java/com/kaspi/backend/service/UserService.java
  backend/src/main/java/com/kaspi/backend/util/encrypt/PasswordUtil.java
  backend/src/main/java/com/kaspi/backend/util/exception/ParameterException.java
  backend/src/main/java/com/kaspi/backend/util/response/code/DefaultCode.java
  backend/src/test/java/com/kaspi/backend/controller/AuthControllerTest.java
  backend/src/test/java/com/kaspi/backend/controller/UserControllerTest.java
  backend/src/test/java/com/kaspi/backend/dao/UserDaoTest.java
  backend/src/test/java/com/kaspi/backend/domain/UserTest.java
  backend/src/test/java/com/kaspi/backend/service/HttpSessionServiceTest.java
  backend/src/test/java/com/kaspi/backend/service/UserServiceTest.java
  backend/src/test/java/com/kaspi/backend/util/encrypt/PasswordUtilTest.java
Labels: backend

#188 Feature/186 month api order by asc -> dev: 한달 주유소 상세정보 날짜 오름차순 정렬
  backend/src/main/java/com/kaspi/backend/dao/GasDetailDao.java
  backend/src/test/java/com/kaspi/backend/dao/GasDetailDaoTest.java
Labels: backend

#191 Feature/190 마이페이지 프로필 수정 통신 연결 -> dev
  frontEnd/public/js/common/variable.js
  frontEnd/public/js/myPage/userDetail/event.js
  frontEnd/public/js/myPage/userDetail/fetch.js
  frontEnd/public/js/myPage/userDetail/helperFunction.js
  frontEnd/public/js/myPage/userDetail/template.js
  frontEnd/public/js/myPage/userDetail/view.js
Labels: backend, front

#189 Feature/184 마이페이지 월별 비교 통신 연결 -> dev
  frontEnd/index.html
  frontEnd/public/js/myPage/chart/fetch.js
  frontEnd/public/js/myPage/chart/helperFunction.js
  frontEnd/public/js/myPage/chart/view.js
  frontEnd/public/js/myPage/comparison/fetch.js
  frontEnd/public/js/myPage/comparison/helperFunction.js
  frontEnd/public/js/myPage/comparison/template.js
  frontEnd/public/styles/index.css
  frontEnd/public/styles/index.css.map
  frontEnd/public/styles/index.scss
Labels: backend, front

#187 add:feature/182:마이페이지 주유 기록 통신 완료
  frontEnd/public/js/myPage/history/fetch.js
  frontEnd/public/js/myPage/history/template.js
  frontEnd/public/js/myPage/history/view.js
  frontEnd/public/styles/index.css
  frontEnd/public/styles/index.css.map
  frontEnd/public/styles/index.scss
Labels: backend, front

#193 Feature/192 마이페이지 유저 프로필 수정 성공 모달 생성 -> dev
  frontEnd/public/js/myPage/userDetail/event.js
  frontEnd/public/js/myPage/userDetail/fetch.js
  frontEnd/public/js/myPage/userDetail/template.js
  frontEnd/public/styles/index.css
  frontEnd/public/styles/index.css.map
  frontEnd/public/styles/index.scss
Labels: front

#195 Feature/194 마이페이지 주유기록 입력 성공 모달 생성
  frontEnd/public/js/myPage/inputOilInfo/fetch.js
  frontEnd/public/js/myPage/inputOilInfo/template.js
  frontEnd/public/styles/index.css
  frontEnd/public/styles/index.css.map
  frontEnd/public/styles/index.scss
Labels: front

#197 Feature/196 마이페이지 이번 달 분석 성별 매핑 -> dev
  frontEnd/public/js/myPage/comparison/helperFunction.js
Labels: front

#198 hotfix:주유 기록 열람 절약 금액 로직 수정 -> dev
  frontEnd/public/js/myPage/history/template.js
  frontEnd/public/js/myPage/history/view.js
Labels: front

#203 add:feature/199:검색 창에 이미지 추가 & 최근 주유소 모달 생성
  frontEnd/public/js/myPage/inputOilInfo/event.js
  frontEnd/public/js/myPage/inputOilInfo/fetch.js
  frontEnd/public/js/myPage/inputOilInfo/template.js
  frontEnd/public/js/myPage/inputOilInfo/view.js
  frontEnd/public/js/register/fetch.js
  frontEnd/public/styles/index.css
  frontEnd/public/styles/index.css.map
  frontEnd/public/styles/index.scss
Labels: front

#204 hotfix:chartpage: 통신 예외 처리 추가 -> dev
  frontEnd/public/js/myPage/chart/fetch.js
Labels: front

#200 Feature/#185 recent gas station->dev: 레디스를 활용한 최근 검색 주유소 저장
  backend/src/main/java/com/kaspi/backend/controller/GasStationController.java
  backend/src/main/java/com/kaspi/backend/dao/RedisGasStationDao.java
  backend/src/main/java/com/kaspi/backend/domain/RedisGasStation.java
  backend/src/main/java/com/kaspi/backend/dto/FindGasStationResDto.java
  backend/src/main/java/com/kaspi/backend/service/HttpSessionService.java
  backend/src/main/java/com/kaspi/backend/util/response/code/DefaultCode.java
  backend/src/test/java/com/kaspi/backend/controller/GasStationControllerTest.java
  backend/src/test/java/com/kaspi/backend/dto/FindGasStationResDtoTest.java
  backend/src/test/java/com/kaspi/backend/service/AuthServiceTest.java
  backend/src/test/java/com/kaspi/backend/service/HttpSessionServiceTest.java
  backend/src/test/java/com/kaspi/backend/util/redis/GasStationSaveToRedis.java
Labels: backend

#205 hotfix:마이페이지 통신 예외처리 -> dev
  frontEnd/public/js/myPage/chart/fetch.js
  frontEnd/public/js/myPage/chart/helperFunction.js
Labels: front

#207 Feature/206 로그아웃 통신 연결 -> dev
  frontEnd/public/js/common/variable.js
  frontEnd/public/js/login/fetch.js
  frontEnd/public/js/navbar/event.js
  frontEnd/public/js/navbar/view.js
Labels: backend, front

#208 hotfix:마이페이지 검색 뷰 수정 -> dev
  frontEnd/public/styles/index.css
  frontEnd/public/styles/index.css.map
  frontEnd/public/styles/index.scss
Labels: front

#209 hotfix:이미지 경로 수정
  frontEnd/public/js/mapView/template.js
  frontEnd/public/styles/index.css
  frontEnd/public/styles/index.css.map
  frontEnd/public/styles/index.scss
Labels: front

#210 hotfix:브랜드 이미지 경로 수정
  frontEnd/public/js/mapView/helperFunction.js
Labels: front

#212 hotfix:지도 seekbar 수정
  frontEnd/public/js/mapView/view.js
  frontEnd/public/styles/index.css
  frontEnd/public/styles/index.css.map
  frontEnd/public/styles/index.scss
Labels: front

#213 add:feature/211:seek bar 추가
  frontEnd/public/js/mapView/event.js
  frontEnd/public/js/mapView/helperFunction.js
  frontEnd/public/js/mapView/template.js
  frontEnd/public/js/mapView/view.js
  frontEnd/public/styles/index.css
  frontEnd/public/styles/index.css.map
  frontEnd/public/styles/index.scss
Labels: front

#215 hotfix:mapview 변수 경로 수정
  frontEnd/public/js/mapView/event.js
  frontEnd/public/js/mapView/helperFunction.js
Labels: backend, front

#216 hotfix:navbar template 수정
  frontEnd/public/js/navbar/template.js
  frontEnd/public/styles/index.css
  frontEnd/public/styles/index.css.map
  frontEnd/public/styles/index.scss
Labels: front

#222 feature/159 bulk query -> dev: 주유기록 db 삽입 벌크 쿼리로 수정
  util/src/main/java/org/example/dao/GasDetailRepository.java
  util/src/main/java/org/example/dao/GasStationRepository.java
  util/src/main/java/org/example/domain/GasDetail.java
  util/src/main/java/org/example/domain/GasStation.java
  util/src/main/java/org/example/domain/StationAndDetailSet.java
  util/src/main/java/org/example/scheduler/DataDownloadScheduler.java
  util/src/main/java/org/example/service/gasdata/GasDataService.java
Labels: backend

#223 hotfix:로그인 계정 미리 넣어두기
  frontEnd/public/js/login/template.js
Labels: front

#224 hotfix:mapView https 추가
  frontEnd/public/js/mapView/helperFunction.js
Labels: front

#226 Feature/220 마이페이지 차트 배경색 변경 -> dev
  frontEnd/public/js/common/function.js
  frontEnd/public/js/myPage/comparison/helperFunction.js
  frontEnd/public/styles/index.css
  frontEnd/public/styles/index.css.map
  frontEnd/public/styles/index.scss
Labels: front

#228 hotfix:modify:마이페이지 주유입력 뷰 수정
  frontEnd/public/js/myPage/inputOilInfo/template.js
  frontEnd/public/styles/index.css
  frontEnd/public/styles/index.css.map
  frontEnd/public/styles/index.scss
Labels: front

#229 modify:마이페이지 월별비교: 음수 차트 생성 -> dev
  frontEnd/public/img/myProfile_Image/ban.png
  frontEnd/public/js/common/function.js
  frontEnd/public/js/mapView/helperFunction.js
  frontEnd/public/js/myPage/comparison/helperFunction.js
  frontEnd/public/js/myPage/comparison/template.js
  frontEnd/public/styles/index.css
  frontEnd/public/styles/index.css.map
  frontEnd/public/styles/index.scss
Labels: front

#230 hotfix:이미지 경로 변경
  frontEnd/public/js/mapView/helperFunction.js
Labels: front

#231 hotfix:지도 핑 hover 제거
  frontEnd/public/styles/index.css
  frontEnd/public/styles/index.css.map
  frontEnd/public/styles/index.scss
Labels: front

#234 hotfix:template 반복 코드 수정 -> dev
  frontEnd/public/js/common/utils.js
  frontEnd/public/js/login/event.js
  frontEnd/public/js/login/fetch.js
  frontEnd/public/js/login/view.js
  frontEnd/public/js/main/event.js
  frontEnd/public/js/main/helperFunction.js
  frontEnd/public/js/main/view.js
  frontEnd/public/js/mapView/event.js
  frontEnd/public/js/mapView/helperFunction.js
  frontEnd/public/js/myPage/chart/event.js
  frontEnd/public/js/myPage/chart/fetch.js
  frontEnd/public/js/myPage/chart/helperFunction.js
  frontEnd/public/js/myPage/comparison/fetch.js
  frontEnd/public/js/myPage/comparison/helperFunction.js
  frontEnd/public/js/myPage/comparison/view.js
  frontEnd/public/js/myPage/history/fetch.js
  frontEnd/public/js/myPage/history/view.js
  frontEnd/public/js/myPage/inputOilInfo/event.js
  frontEnd/public/js/myPage/inputOilInfo/fetch.js
  frontEnd/public/js/myPage/inputOilInfo/helperFunction.js
  frontEnd/public/js/myPage/inputOilInfo/view.js
  frontEnd/public/js/myPage/userDetail/event.js
  frontEnd/public/js/myPage/userDetail/fetch.js
  frontEnd/public/js/myPage/userDetail/helperFunction.js
  frontEnd/public/js/navbar/event.js
  frontEnd/public/js/register/event.js
  frontEnd/public/js/register/fetch.js
  frontEnd/public/js/register/template.js
  frontEnd/public/js/router.js
Labels: front

#235 Feature/232 template 반복 코드 수정 -> dev
  frontEnd/public/js/main/template.js
  frontEnd/public/js/myPage/chart/template.js
  frontEnd/public/js/myPage/comparison/template.js
  frontEnd/public/js/myPage/history/template.js
  frontEnd/public/js/myPage/inputOilInfo/template.js
  frontEnd/public/js/myPage/userDetail/template.js
Labels: front

#233 Feature/#221 gas search fix->dev: GasType을 받아 주유소 검색 및 최근주유소 리스트 출력
  backend/src/main/java/com/kaspi/backend/controller/GasStationController.java
  backend/src/main/java/com/kaspi/backend/dao/GasStationDao.java
  backend/src/main/java/com/kaspi/backend/dto/FindGasStationResDto.java
  backend/src/main/java/com/kaspi/backend/service/GasStationService.java
  backend/src/main/java/com/kaspi/backend/service/HttpSessionService.java
  backend/src/test/java/com/kaspi/backend/controller/GasStationControllerTest.java
  backend/src/test/java/com/kaspi/backend/dao/GasStationDaoTest.java
  backend/src/test/java/com/kaspi/backend/service/GasStationServiceTest.java
  backend/src/test/java/com/kaspi/backend/service/HttpSessionServiceTest.java
Labels: backend

#237 Feature/236 로그인되어있는경우 메인화면으로 라우팅 -> dev
  frontEnd/public/js/login/fetch.js
  frontEnd/public/js/login/view.js
  frontEnd/public/js/register/view.js
Labels: front

#242 Feature/241 pipe 함수 불필요한 wrapper 제거 -> dev
  frontEnd/public/js/common/utils.js
  frontEnd/public/js/main/event.js
  frontEnd/public/js/main/helperFunction.js
  frontEnd/public/js/myPage/inputOilInfo/event.js
  frontEnd/public/js/myPage/inputOilInfo/fetch.js
Labels: front

#243 #221 fix: 주유소 브랜드 uri 변경
  backend/src/main/java/com/kaspi/backend/dto/FindGasStationResDto.java
  backend/src/main/java/com/kaspi/backend/service/GasStationService.java
  backend/src/test/java/com/kaspi/backend/dto/FindGasStationResDtoTest.java
  backend/src/test/java/com/kaspi/backend/service/GasStationServiceTest.java
Labels: backend, hotfix

#240 feature/221 rank bug -> dev: 절약금액 퍼센트 랭크 버그 수정
  backend/src/main/java/com/kaspi/backend/dao/UserGasRecordDao.java
  backend/src/main/java/com/kaspi/backend/domain/EcoRecord.java
  backend/src/main/java/com/kaspi/backend/service/UserRecordService.java
  backend/src/test/java/com/kaspi/backend/dao/UserGasRecordDaoTest.java
  backend/src/test/java/com/kaspi/backend/service/UserRecordServiceTest.java
Labels: backend

#244 hotfix:검색 이미지 크기 변경
  frontEnd/public/styles/index.css
  frontEnd/public/styles/index.css.map
  frontEnd/public/styles/index.scss
Labels: front

#247 최근 열람 주유소 통신 연결 -> dev
  frontEnd/public/img/myPage/loading.png
Labels: backend, front

#251 hotfix:최근 열람 주유소 통신 기능 추가
  frontEnd/public/js/myPage/inputOilInfo/event.js
  frontEnd/public/js/myPage/inputOilInfo/fetch.js
  frontEnd/public/js/myPage/inputOilInfo/view.js
Labels: backend, front

#252 Feature/#185 log->dev: prometheus 설정
  backend/build.gradle
  backend/src/main/java/com/kaspi/backend/util/aspect/LoggingAspect.java
  backend/src/main/resources/application.yml
Labels: backend

#262 hotfix:마이페이지 통신 오류 제어
  frontEnd/public/js/myPage/inputOilInfo/template.js
  frontEnd/public/js/myPage/userDetail/event.js
  frontEnd/public/js/myPage/userDetail/helperFunction.js
  frontEnd/public/styles/index.css
  frontEnd/public/styles/index.css.map
  frontEnd/public/styles/index.scss
Labels: front

#264 hotfix:라우팅 성능 미세 개선 및 마이페이지 이미지 처리
  frontEnd/public/js/login/view.js
  frontEnd/public/js/myPage/comparison/helperFunction.js
  frontEnd/public/js/register/view.js
  frontEnd/public/js/router.js
  frontEnd/public/styles/index.css
  frontEnd/public/styles/index.css.map
  frontEnd/public/styles/index.scss
Labels: front

#265 hotfix:반응형 스타일 수정
  frontEnd/public/js/main/template.js
  frontEnd/public/styles/index.css
  frontEnd/public/styles/index.css.map
  frontEnd/public/styles/index.scss
Labels: front

#266 hotfix:비교페이지 css 수정
  frontEnd/public/styles/index.css
  frontEnd/public/styles/index.css.map
  frontEnd/public/styles/index.scss
Labels: front

#269 feature#269 마커 토글 이미지 변경 및 리팩토링
  frontEnd/public/img/marker_HG_sel.png
  frontEnd/public/js/mapView/DetailTab.js
  frontEnd/public/js/mapView/ExtraFunctions.js
  frontEnd/public/js/mapView/SearchFunction.js
  frontEnd/public/js/mapView/chart.js
  frontEnd/public/js/mapView/event.js
  frontEnd/public/js/mapView/helperFunction.js
  frontEnd/public/js/mapView/marker.js
  frontEnd/public/js/mapView/template.js
  frontEnd/public/js/router.js
  frontEnd/public/styles/index.css
  frontEnd/public/styles/index.css.map
  frontEnd/public/styles/index.scss
Labels: front

#272 hotfix:마이페이지 템플릿 수정
  frontEnd/public/js/main/template.js
  frontEnd/public/js/myPage/chart/helperFunction.js
  frontEnd/public/js/myPage/chart/template.js
  frontEnd/public/js/myPage/comparison/template.js
  frontEnd/public/js/myPage/history/template.js
  frontEnd/public/js/myPage/inputOilInfo/template.js
  frontEnd/public/js/myPage/userDetail/template.js
  frontEnd/public/styles/index.css
  frontEnd/public/styles/index.css.map
  frontEnd/public/styles/index.scss
Labels: front

#273 hotfix:console.log 제거
  backend/src/main/resources/static/index.html
  frontEnd/public/js/mapView/HelperFunction.js
  frontEnd/public/js/mapView/SearchFunction.js
  frontEnd/public/js/mapView/chart.js
  frontEnd/public/js/myPage/userDetail/event.js
Labels: front

#274 hotfix:404페이지 내용 수정
  frontEnd/public/js/notFound/view.js
Labels: front

#278 hotfix:음수 입력 제한
  frontEnd/public/js/myPage/inputOilInfo/helperFunction.js
Labels: front

#280 hotfix:주유 입력 페이지 수정
  frontEnd/public/js/mapView/HelperFunction.js
  frontEnd/public/js/myPage/chart/view.js
  frontEnd/public/js/myPage/comparison/helperFunction.js
  frontEnd/public/js/myPage/inputOilInfo/event.js
  frontEnd/public/styles/index.css
  frontEnd/public/styles/index.css.map
  frontEnd/public/styles/index.scss
Labels: front

#281 hotfix:주유 입력 페이지 오류 수정
  frontEnd/public/js/myPage/comparison/helperFunction.js
  frontEnd/public/js/myPage/inputOilInfo/event.js
  frontEnd/public/js/myPage/inputOilInfo/fetch.js
  frontEnd/public/js/myPage/inputOilInfo/helperFunction.js
  frontEnd/public/js/myPage/inputOilInfo/template.js
  frontEnd/public/styles/index.css
  frontEnd/public/styles/index.css.map
  frontEnd/public/styles/index.scss
Labels: front

#282 hotfix: 주유 입력 변경시 오류 수정
  frontEnd/public/js/myPage/inputOilInfo/event.js
Labels: front

#283 Feature/# code fix->dev: 절약금액 계산 로직 수정
  backend/src/main/java/com/kaspi/backend/controller/UserGasRecordController.java
  backend/src/main/java/com/kaspi/backend/dto/UserGasRecordReqDto.java
  backend/src/main/java/com/kaspi/backend/service/UserRecordService.java
  backend/src/test/java/com/kaspi/backend/controller/UserGasRecordControllerTest.java
  backend/src/test/java/com/kaspi/backend/service/UserRecordServiceTest.java
Labels: backend, hotfix

#284 hotfix -> dev: detail 정보가 중복해서 들어가는 버그 수정
  util/src/main/java/org/example/domain/GasDetail.java
  util/src/main/java/org/example/service/fileupload/FileUploadService.java
  util/src/main/java/org/example/service/gasdata/GasDataService.java
Labels: backend, deploy
